{% extends 'layouts/base.html' %}

{% block content %}

    <h1>About me</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laboriosam deserunt minima recusandae atque quas, corrupti harum quis iusto doloribus, quasi iste perspiciatis, molestiae eaque. Fugit dolore optio molestiae ipsa cumque dolores officia ipsum corporis ipsam? Aspernatur minima iure quibusdam laboriosam natus? Dicta cupiditate reiciendis in numquam sapiente, quis voluptates illo excepturi minima sit hic facere, quo iste quisquam illum assumenda, nisi modi veritatis maiores ut. Sequi enim soluta quisquam temporibus quidem? Non modi at voluptatibus quas iure quam incidunt! Atque quo explicabo illum laudantium quas nulla magni! Consequuntur, optio?</p>

    <p>Website created by OrangelJP</p>


{% endblock %}