{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Course</title>
    <img src="{% static 'goku_black.jfif' %}">
    <h1>Welcome to {{ title }}</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed autem velit quaerat doloribus, dolores perspiciatis quam similique at corporis atque quas ut officia, consequuntur fugit odit ipsam debitis sequi dignissimos!</p>

{% endblock %}